*{
	border-radius: 4px;
}
body{
}
button{
	font-size: 1.2em;
	width: 100px;
	height:50px;
	margin-top: 6.25px;
	margin-bottom: 6.25px;
	border: 1px solid #DEDEDE;
}
button:hover{
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.container{
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	margin: 50px auto;
	width: 500px;
	height: 430px;
	border: 1px solid #aeaeae;
}
.window{ 
	position: relative;
	color: black;
	border: 1px solid #aeaeae;
	width: 90%;
	height: 50px;
	margin: 22px auto;
	background: #fff;
	overflow: hidden;
}
#result{
	display: inline-block;
	float: right;
}
.buttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	margin: auto;
}
#equal{
	color: #fff;
	width: 100%;
	background: #498BF4;
}
.num{
	background: #F3F3F3;  
}
.operator{
	background: #D4D4D4;
}
